<!--homepage-->
<div class="home-page container">
    <div class="position-relative vh-100">
        <div class="position-absolute" id="tornado-logo-img">
            <img id="tornado-icon" src="/assets/images/tornado_big_icon.png" alt="team logo and site name">
        </div>
        <div class="position-absolute" id="tornado-logo-txt">
            <img id="tornado-icon-txt" src="/assets/images/tornado_text.png" alt="team logo and site name">
        </div>
        <div class="position-absolute" id="hero-description"><h6>&nbsp;WELCOME TO TOURNADO</h6></div>
        <div class="position-absolute d-none d-sm-block" id="hero-dragon"><img src="/assets/images/dragon.png" alt="" srcset=""></div>
    </div>
</div>

<div class="color-black">
    <div class="container">
        <div class="row ">
                <div class="col-lg-4 px-5 home-options">
                    <div class="rounded-circle option-image">
                        <img src="/assets/images/active_tournament.png" alt="">
                    </div>
                    
                    <h3><a class="" href="#tournamentTable">ACTIVE TOURNAMENTS</a></h3>
                    <p>There are many tournaments in progress now. Check out our active tournaments!</p>
                </div>

                <div class="col-lg-4 px-5 home-options">
                    <div class="rounded-circle option-image">
                        <img src="/assets/images/login.png" alt="">
                    </div>
                    <h3><a href="/login">SIGN IN</a></h3>
                    <p>Sign In to create a new tournament or update an existing tournament!</p>
                </div>

                <div class="col-lg-4 px-5 home-options" >
                    <div class="rounded-circle option-image">
                        <img src="/assets/images/glove.png" alt="">
                    </div>
                    <h3><a href="/tournament/create">CREATE TOURNAMENT</a></h3>
                    <p>After registration or login, you can create your own tournament!</p>
                </div>
        </div>
    </div>
</div>




    <div class="container  d-none d-sm-block" id="tournamentTable" style="margin-top: 40px;">
        <table class="table bg-dark-80 text-light">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Active Tournaments</th>
                </tr>
            </thead>

            <!-- Header Row-->
            <tr class="d-flex">
                <td class="text-center col-2">Title</td>
                <td class="text-center col-1">Status</td>
                <td class="text-center col-1">Type</td>
                <td class="text-center col-4">Description</td>
                <td class="text-center col-3">End date</td>
                <td class="text-center col-1"></td>
            </tr>

            <!-- Repeatable Template Row / Active tournaments list -->
            <% for(let i = 0; i < TournamentList.length; i++) { %>
                <% if( TournamentList[i].status == 'active' ){ %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= TournamentList[i].title %></td>

                        <td class="text-center col-1">
                            <button type="button" class="btn btn-success btn-sm" disabled>Active</button>
                        </td>

                        <td class="text-center col-1">
                            <%= TournamentList[i].type %> bouts
                        </td>

                        <td class="text-center col-4">
                            <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                        </td>

                        <td class="text-center col-3">
                            <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                        </td>
                        
                        <td class="text-center col-1">
                            <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn btn-danger btn-sm">
                            VIEW</a>
                        </td>
                    </tr>
                <% } %>
            <% } %> 
        </table>
    </div>





