<!--homepage-->
<div class="home-page container">
    <div class="position-relative vh-100">
        <div class="position-absolute" id="tornado-logo-img">
            <img id="tornado-icon" src="/assets/images/tornado_big_icon.png" alt="team logo and site name">
        </div>
        <div class="position-absolute" id="tornado-logo-txt">
            <img id="tornado-icon-txt" src="/assets/images/tornado_text.png" alt="team logo and site name">
        </div>
        <div class="position-absolute" id="hero-description"><h6>&nbsp;WELCOME TO TOURNADO</h6></div>
        <div class="position-absolute d-none d-sm-block" id="hero-dragon"><img src="/assets/images/dragon.png" alt="" srcset=""></div>
    </div>
</div>

<div class="color-black">
    <div class="container">
        <div class="row ">
                <div class="col-lg-4 px-5 home-options">
                    <a class="" href="#tournamentTable">
                        <div class="rounded-circle option-image">
                            <img src="/assets/images/herobtn/active_tournament.png" class="imgabt" alt="">
                        </div>
                        <h3>ACTIVE TOURNAMENTS</h3>
                    </a>
                    <p>There are many tournaments in progress now. Check out our active tournaments!</p>
                </div>

                <div class="col-lg-4 px-5 home-options">
                    <a href="/login">
                        <div class="rounded-circle option-image">
                            <img src="/assets/images/herobtn/login.png" class="imgabt" alt="">
                        </div>
                        <h3>SIGN IN</h3>
                    </a>
                    <p>Sign In to create a new tournament or update an existing tournament.</p>
                </div>

                <div class="col-lg-4 px-5 home-options" >
                    <a href="/tournament/create">
                        <div class="rounded-circle option-image">
                            <img src="/assets/images/herobtn/glove.png" class="imgabt" alt="">
                        </div>
                        <h3>CREATE TOURNAMENT</h3>
                    </a>
                    <p>After registration or login, you can create your own tournament.</p>
                </div>
        </div>
    </div>
</div>




    <div class="container" id="tournamentTable" style="margin-top: 40px;">
        <table class="responsive">
            <!--<th>
                <tr>
                    <th>Active Tournaments</th>
                </tr>
            </th>-->

            <!-- Header Row-->
            <tr>
                <td>Title</td>
                <td>Status</td>
                <td>Type</td>
                <td>Description</td>
                <td>End date</td>
                <td></td>
            </tr>

            <!-- Repeatable Template Row / Active tournaments list -->
            <% for(let i = 0; i < TournamentList.length; i++) { %>
                <% if( TournamentList[i].status == 'active' ){ %>
                    <tr>
                        <td><%= TournamentList[i].title %></td>

                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm" disabled>Active</button>
                        </td>

                        <td>
                            <%= TournamentList[i].type %> bouts
                        </td>

                        <td>
                            <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                        </td>

                        <td>
                            <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                        </td>
                        
                        <td>
                            <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn btn-outline-danger btn-sm">
                            VIEW</a>
                        </td>
                    </tr>
                <% } %>
            <% } %> 
        </table>
    </div>





