<!--homepage-->
<div class="hero-content">
    <span class="vertical-center">
        <h1 id="hero-text">Welcome to Tornado!</h1><br>
        <h3 id="hero-description">Want to create a single elimination tournament? <br>Start here!</h3><br> <br>
        <div class="btn-toolbar">
        <a style="float: left; margin-right: 3cm;" href="/tournament/create" class="btn btn-outline-danger btn-xl" 
            role="button" id="hero-createBtn">
            Create tournament
        </a>
          <a style="float: right;" class="btn btn-outline-info btn-xl" 
            role="button" id="hero-createBtn" onclick="myFunction()">
            Active Tournaments
        </a>
     </div>
    </span>
</div>
<div class="container" id="tournamentTable">
    <table class="table bg-dark-80 text-light">
            <thead class="thead-dark">
                <tr class="text-center">
                  <th>Active Tournaments</th>
                </tr>
            </thead>
        <!-- Header Row-->
        <tr class="d-flex">
            <td class="text-center col-2">Title</td>
            <td class="text-center col-1">Status</td>
            <td class="text-center col-1">Type</td>
            <td class="text-center col-4">Description</td>
            <td class="text-center col-3">End date</td>
            <td class="text-center col-1"></td>
        </tr>

        <!-- Repeatable Template Row / Active tournaments list -->
        <% for(let i = 0; i < TournamentList.length; i++) { %>
            <% if( TournamentList[i].status == 'active' ){ %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= TournamentList[i].title %></td>

                    <td class="text-center col-1">
                        <button type="button" class="btn btn-success btn-sm" disabled>Active</button>
                    </td>

                    <td class="text-center col-1">
                        <%= TournamentList[i].type %> bouts
                    </td>

                    <td class="text-center col-4">
                        <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                    </td>

                    <td class="text-center col-3">
                        <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                    </td>
                    <td class="text-center col-1">
                        <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn btn-danger btn-sm">
                        VIEW</a>
                    </td>
                </tr>
            <% } %>
        <% } %>
        
    </table>
</div>

