<div class="container vh-100 pt-5 text-light text-center">
    <a href="/tournament/create" class="btn btn-danger btn-lg m-5" role="button">
    Create tournament</a><br>
    <% if(typeof displayName == 'string' && displayName ){ %>
    <table class="table bg-light-80 table-hover">
    <!-- Header Row-->
        <tr class="d-flex">
            <td class="text-center col-2">Title</td>
            <td class="text-center col-1">Type</td>
            <td class="text-center col-4">Participants</td>
            <td class="text-center col-3">Start - End</td>
            <td class="text-center col-2"></td>
        </tr>

        <!-- Repeatable Template Row -->

        <% for(let i = 0; i < TournamentList.length; i++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= TournamentList[i].title %></td>
                <td class="text-center col-1"><%= TournamentList[i].round %> rounds
                    <br>
                    <%= TournamentList[i].type %> bouts
                </td>

                <td class="text-center col-4">
                    <!-- display the objects in the participants array -->
                    <% for(let j = 0; j < TournamentList[i].participants.length; j++) { %>
                    <%=TournamentList[i].participants[j].participantname %><% if(j != TournamentList[i].participants.length - 1) {%>,<% } %>
                    <% } %>
                </td>

                <td class="text-center col-3">
                    <%= TournamentList[i].startdate.toISOString().replace('T', ' ').substr(0, 10) %> - <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                </td>
                <td class="text-center col-2">
                    <a href="/tournament/brackets/<%= TournamentList[i]._id %>/read-only" class="btn color-red3 btn-sm">
                    <i class="fas fa-eye"></i></a>
                    <a href="/tournament/update/<%= TournamentList[i]._id %>" class="btn color-red2 btn-sm">
                    <i class="fas fa-pencil-alt"></i></a>
                    <a href="/tournament/delete/<%= TournamentList[i]._id %>" class="btn color-red1 btn-sm btn-delete">
                    <i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        <% } %>
    </table>
    <% } else {%>
    <h3 id="hero-description">Please <a href="/login">login</a> to View, Edit or Delete tournament options.</h3>
    <table class="table bg-light-80 table-hover">
    <!-- Header Row-->
        <tr class="d-flex">
            <td class="text-center col-2">Title</td>
            <td class="text-center col-2">Type</td>
            <td class="text-center col-5">Participants</td>
            <td class="text-center col-3">Start - End</td>
        </tr>

        <!-- Repeatable Template Row -->

        <% for(let i = 0; i < TournamentList.length; i++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= TournamentList[i].title %></td>
                <td class="text-center col-2"><%= TournamentList[i].round %> rounds
                    <br>
                    <%= TournamentList[i].type %> bouts
                </td>

                <td class="text-center col-5">
                    <!-- display the objects in the participants array -->
                    <% for(let j = 0; j < TournamentList[i].participants.length; j++) { %>
                    <%=TournamentList[i].participants[j].participantname %><% if(j != TournamentList[i].participants.length - 1) {%>,<% } %>
                    <% } %>
                </td>

                <td class="text-center col-3">
                    <%= TournamentList[i].startdate.toISOString().replace('T', ' ').substr(0, 10) %> - <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                </td>
            </tr>
        <% } %>
    </table>
    <% } %>    
</div>