<div class="container text-light text-center">
    <div id="touament-logo-txt" class="mx-auto my-5">
        <img id="touament-logo-txt-img" src="/assets/images/tournament_text.png" alt="" srcset="" width="100%">
    </div>
    
    <div class="row">
        <div class="offset-md-1 col-md-5 mt-3">
            <a href="/tournament/card" class="btn btn-md btn-outline-danger w-100 p-3" role="button">View in cards</a>
        </div>
        <div class="col-md-5 mt-3">
            
            <a href="/tournament/create" class="btn btn-md btn-outline-danger w-100 p-3" role="button">Create a new tournament</a>
        </div>
    
    </div>
    <!-- when the user is logged in -->
    <% if(typeof displayName == 'string' && displayName ){ %>

    <div class="container" id="tournamentTable" style="margin-top: 40px;">
    <table class="responsive">

        <!-- Header Row-->
        <tr>
            <td>Title</td>
            <td>Status</td>
            <td>Type</td>
            <td>Description</td>
            <td>End date</td>
            <td></td>
        </tr>

        <!-- Repeatable Template Row -->
        <% for(let i = 0; i < TournamentList.length; i++) { %>
            <tr>
                <!-- tournament title -->
                <td><%= TournamentList[i].title %></td>

                <!-- tournament status -->
                <td>
                    <% if( TournamentList[i].status == 'active' ){ %>
                        <button type="button" class="btn btn-success btn-sm" disabled>Active</button>
                    <% } %> 
                </td>

                <!-- number of bouts in tournament -->
                <td>
                    <%= TournamentList[i].type %> bouts
                </td>

                <!-- tournament description -->
                <td>
                    <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                </td>

                <!-- tournament end date -->
                <td>
                    <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                </td>

                <!-- tournament bracket view button -->
                <td>
                    <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn color-red3 active-btn btn-sm">
                    <i class="fas fa-eye"></i></a>

                    <!-- update and delete button are enabled only for the user who created the tournament -->
                    <% if( TournamentList[i].host == username ){ %>
                        <a href="/tournament/update/<%= TournamentList[i]._id %>" class="btn color-red2 active-btn btn-sm">
                        <i class="fas fa-pencil-alt"></i></a>
                        <a href="/tournament/delete/<%= TournamentList[i]._id %>" class="btn color-red1 active-btn btn-sm btn-delete">
                        <i class="fas fa-trash-alt"></i></a>
                    <% } else {%>
                        <a class="btn btn-sm inactive-btn">
                        <i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-sm inactive-btn">
                        <i class="fas fa-trash-alt"></i></a>
                    <% } %> 
                </td>
            </tr>
        <% } %>
    </table>
    </div>
    <% } 
    
    else {%>
        <!-- message for the user who is not logged in -->
        <h6 class="my-5">Please <a href="/login">login</a> to manage more tournaments.
        <br><small>( User who is not logged in can only see the active tournament. ) </small>
        </h6>
        
        <div class="container" id="tournamentTable" style="margin-top: 40px;">
            <table class="responsive my-5">
                <!-- Header Row-->
                

            
                <tr>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Type</td>
                    <td>Description</td>
                    <td>End date</td>
                    <td></td>
                </tr>

                <!-- Repeatable Template Row -->
                <% for(let i = 0; i < TournamentList.length; i++) { %>
                    <% if( TournamentList[i].status == 'active' ){ %>
                    <tr>
                        <td><%= TournamentList[i].title %></td>

                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm" disabled>Active</button>
                        </td>

                        <td>
                            <%= TournamentList[i].type %> bouts
                        </td>

                        <td>
                            <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> %>
                        </td>

                        <td>
                            <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                        </td>

                        <!-- update and delete button are enabled only for the user who created the tournament -->
                        <td>
                        <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn color-red3 active-btn btn-sm">
                        <i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
            </table>
        </div>
    <% } %>    
</div>
