<div class="container vh-100 pt-5 text-light text-center">
    <a href="/tournament/create" class="btn text-light color-red3 active-btn btn-md mb-4" role="button">
    Create tournament</a><br>

    <!-- when the user is logged in -->
    <% if(typeof displayName == 'string' && displayName ){ %>

    <table class="table bg-light-80 table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Active Tournaments</th>
            </tr>
        </thead>

        <!-- Header Row-->
        <tr class="d-flex">
            <td class="text-center col-2">Title</td>
            <td class="text-center col-1">Status</td>
            <td class="text-center col-1">Type</td>
            <td class="text-center col-4">Description</td>
            <td class="text-center col-2">End date</td>
            <td class="text-center col-2"></td>
        </tr>

        <!-- Repeatable Template Row -->
        <% for(let i = 0; i < TournamentList.length; i++) { %>
            <tr class="d-flex">
                <!-- tournament title -->
                <td class="text-center col-2"><%= TournamentList[i].title %></td>

                <!-- tournament status -->
                <td class="text-center col-1">
                    <% if( TournamentList[i].status == 'active' ){ %>
                        <button type="button" class="btn btn-success btn-sm" disabled>Active</button>
                    <% } %> 
                </td>

                <!-- number of bouts in tournament -->
                <td class="text-center col-1">
                    <%= TournamentList[i].type %> bouts
                </td>

                <!-- tournament description -->
                <td class="text-center col-4">
                    <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                </td>

                <!-- tournament end date -->
                <td class="text-center col-2">
                    <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                </td>

                <!-- tournament bracket view button -->
                <td class="text-center col-2">
                    <a href="/tournament/brackets/<%= TournamentList[i]._id %>" class="btn color-red3 active-btn btn-sm">
                    <i class="fas fa-eye"></i></a>

                    <!-- update and delete button are enabled only for the user who created the tournament -->
                    <% if( TournamentList[i].host == username ){ %>
                        <a href="/tournament/update/<%= TournamentList[i]._id %>" class="btn color-red2 active-btn btn-sm">
                        <i class="fas fa-pencil-alt"></i></a>
                        <a href="/tournament/delete/<%= TournamentList[i]._id %>" class="btn color-red1 active-btn btn-sm btn-delete">
                        <i class="fas fa-trash-alt"></i></a>
                    <% } else {%>
                        <a class="btn btn-sm inactive-btn">
                        <i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-sm inactive-btn">
                        <i class="fas fa-trash-alt"></i></a>
                    <% } %> 
                </td>
            </tr>
        <% } %>
    </table>
    <% } 
    
    else {%>
        <!-- message for the user who is not logged in -->
        <h6>Please <a href="/login">login</a> to View, Edit or Delete tournament options.</h6>
        <table class="table bg-light-80 table-hover">
            <!-- Header Row-->
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Active Tournaments</th>
                </tr>
            </thead>

        
            <tr class="d-flex">
                <td class="text-center col-2">Title</td>
                <td class="text-center col-1">Status</td>
                <td class="text-center col-1">Type</td>
                <td class="text-center col-5">Description</td>
                <td class="text-center col-3">End date</td>
            </tr>

            <!-- Repeatable Template Row -->
            <% for(let i = 0; i < TournamentList.length; i++) { %>
                <% if( TournamentList[i].status == 'active' ){ %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= TournamentList[i].title %></td>

                    <td class="text-center col-1">
                        <button type="button" class="btn btn-success btn-sm" disabled>Active</button>
                    </td>

                    <td class="text-center col-1">
                        <%= TournamentList[i].type %> bouts
                    </td>

                    <td class="text-center col-5">
                        <%= TournamentList[i].description.substr(0, 35) %><% if( TournamentList[i].description.substr(0, 35).length >= 35 ){ %>....<% } %> 
                   </td>

                    <td class="text-center col-3">
                        <%= TournamentList[i].enddate.toISOString().replace('T', ' ').substr(0, 10) %>
                    </td>
                </tr>
                <% } %>
            <% } %>
        </table>
    <% } %>    
</div>