<div class="container">
    <% if(errorMessage != '') { %>
    <div class="vh-100">
        <div class="mt-5">
            <div class="alert alert-warning " role="alert">
                <%= errorMessage %>
            </div>
            <div class="row">
                <!-- go to home page -->
                <div class="col-sm-12 col-lg-6 text-center mt-4">
                    <a class="mb-2 btn color-red3 active-btn text-light w-100" href="/"><i class="fas fa-home"></i> Back to Home page</a>
                </div>
                <!-- back to edit buton -->
                <div class="col-sm-12 col-lg-6 text-center mt-4">
                    <a class="btn active-btn color-red2 text-light py-2 w-100" href="/tournament/update/<%= tournament._id %>"><i class="fas fa-pencil-alt"></i> Back to Edit page</a>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <% } else {%>
        <form method="POST">
            <h1 class="text-center mb-5">Who's the winner?</h1>
            <div class="row pb-5">
                <!-- repeat half the number of participants -->
                <% if(roundNumber < tournament.roundTotal) { %>
                    <% for(let i = 0; i < tournament.rounds[roundNumber].participants.length/2; i++) { %>

                        <!-- if the user does not reach the last round -->
                        <div class="offset-lg-2 col-lg-3 mb-1 offset-md-1 col-md-4">
                            <div class="input-group roundParticipant">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">

                                        <!-- radio button for each participant -->
                                        <input type="radio" name="bout <%= i %>" class="rbtnRoundParticipants" 
                                            value="<%= tournament.rounds[roundNumber].participants[i * 2] %>"
                                            <% if(tournament.rounds[roundNumber].participants[i * 2] == 
                                                tournament.rounds[parseInt(roundNumber) + 1].participants[i]) { %>
                                                checked
                                            <% } %>
                                            required>
                                    </div>
                                </div>
                                <!-- disabled text input field displaying participant name -->
                                <input type="text" class="form-control txtRoundParticipant" 
                                    value="<%= tournament.rounds[roundNumber].participants[i * 2] %>" 
                                    disabled>
                            </div>
                        </div>

                        <div class="col-md-2 text-center text-light">VS</div>

                        <div class="col-lg-3 col-md-4 mb-5">
                            <div class="input-group roundParticipant">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">

                                        <!-- radio button for each participant -->
                                        <input type="radio" name="bout <%= i %>" class="rbtnRoundParticipants" 
                                            value="<%= tournament.rounds[roundNumber].participants[2 * i + 1] %>" 
                                            <% if(tournament.rounds[roundNumber].participants[2 * i + 1] == 
                                                tournament.rounds[parseInt(roundNumber) + 1].participants[i]) { %>
                                                checked
                                            <% } %>
                                            required>
                                    </div>
                                </div>

                                <!-- disabled text input field displaying participant name -->
                                <input type="text" class="form-control txtRoundParticipant" 
                                    value="<%= tournament.rounds[roundNumber].participants[2 * i + 1] %>"
                                    disabled>
                            </div>
                        </div>
                    <% } %> 
                    
                    <!-- previous round button -->
                    <div class="offset-lg-2 offset-md-1 offset-sm-0 text-center col-md-2 col-sm-3 mt-4">
                        <!-- Last round button -->
                        <% if(parseInt(roundNumber) > 0) { %>
                            <a class="btn active-btn color-red1 text-light py-2 w-100" href="/tournament/progress/<%= tournament._id %>/<%= parseInt(roundNumber) - 1 %>">
                                <i class="fas fa-chevron-left "></i>
                            </a>
                        <% } else {%>
                            <a class="btn inactive-btn color-red1t py-2 w-100"><i class="fas fa-chevron-left  text-muted"></i></a>
                        <% } %>
                    </div>
                    
                    <!-- back to edit buton -->
                    <div class="col-sm-6 col-lg-4 text-center mt-4">
                        <a class="btn active-btn color-red2 text-light py-2 w-100" href="/tournament/update/<%= tournament._id %>">Back to Edit</a>
                    </div>

                    <!-- next round button -->
                    <div class="col-md-2 col-sm-3 text-center mt-4">
                        <button class="btn active-btn color-red1 text-light py-2 w-100" type="submit"><i class="fas fa-chevron-right "></i></button>
                    </div>

                <% } else { %> 
                    <!-- check the result button -->
                    <div class="col-12 text-center mt-4 vh-100">
                        <a href="/tournament/brackets/<%= tournament._id %>" class="btn btn-lg btn-outline-danger">
                            Check the result</a>
                    </div>
                <% } %>
                

                <!-- invisible text input fields containing winners for each round -->
                <input type="text" class="form-control invisible" id="firstRoundParticipants" 
                    <% if(tournament.rounds[0].participants) { %>
                        value="<%= tournament.rounds[0].participants %>"
                    <% } %>
                    name="firstRoundParticipants">

                <input type="text" class="form-control invisible"  id="secondRoundParticipants"  
                    <% if(tournament.rounds[1].participants) { %>
                        value="<%= tournament.rounds[1].participants %>"
                    <% } %>
                    name="secondRoundParticipants">

                <input type="text" class="form-control invisible"  id="thirdRoundParticipants"   
                    <% if(tournament.rounds[2].participants) { %>
                        value="<%= tournament.rounds[2].participants %>"
                    <% } %>
                    name="thirdRoundParticipants">

                <input type="text" class="form-control invisible"  id="forthRoundParticipants"  
                    <% if(tournament.rounds[3].participants) { %>
                        value="<%= tournament.rounds[3].participants %>"
                    <% } %>
                    name="forthRoundParticipants">

                <input type="text" class="form-control invisible"  id="fifthRoundParticipants" 
                    <% if(tournament.rounds[4].participants) { %>
                        value="<%= tournament.rounds[4].participants %>"
                    <% } %>
                    name="fifthRoundParticipants">
            </div>
        </form>
    <% } %>
    
</div>