<h1 class="display-4 text-center pb-4"><%= title %></h1>
<div class="row vh-100">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">


                <div class="form-group row">
                    <label for="titleTextField" class="col-2 col-form-label">Title</label>
                    <div class="col-10">
                        <input type="text" class="form-control"
                        id="titleTextField"
                        placeholder="Enter title"
                        name="title" 
                        value="<%= tournament.title %>"
                        required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="hostTextField" class="col-2 col-form-label">Host</label>
                    <div class="col-10">
                        <input type="text" class="form-control"
                        id="hostTextField"
                        placeholder="Enter host name"
                        name="hostname" 
                        value="<%= tournament.hostname %>"
                        required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="typeTextField" class="col-2 col-form-label">Status</label>
                    <div class="col-10">
                        <!-- When the type of tournament is 4 bouts -->
                        <% if(tournament.status == "active") { %>
                            <input type="radio" id="active" name="status" value="active" checked> 
                            <label for="lblActive">Active</label>&nbsp;&nbsp;
                            <input type="radio" id="inactive" name="status" value="inactive">
                            <label for="lblInactive">Inactive</label><br>
                        <% } else {%>
                            <!-- When the type of tournament is 8 bouts -->
                            <input type="radio" id="active" name="status" value="active">
                            <label for="lblActive">Active</label>&nbsp;&nbsp;
                            <input type="radio" id="inactive" name="status" value="inactive" checked>
                            <label for="lblInactive">Inactive</label><br>
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="typeTextField" class="col-2 col-form-label">Type</label>
                    <div class="col-10">
                        <!-- When the type of tournament is 4 bouts -->
                        
                            <input type="radio" id="fourBouts" name="type" value="4" 
                            <% if(tournament.type == "4") { %>
                            checked
                            <% } %>> 
                            <label for="lblFourBouts">4 Bouts</label>&nbsp;&nbsp;
                            <input type="radio" id="eightBouts" name="type" value="8"
                            <% if(tournament.type == "8") { %>
                            checked
                            <% } %>>
                            <label for="lblEightBouts">8 Bouts</label><br>
                            
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Start-End</label>
                    <div class="col-5">
                        <input class="form-control" type="date" value="<%= tournament.startdate.toISOString().replace('T', ' ').substr(0, 10) %>" id="" name="startdate">
                    </div>
                    <div class="col-5">
                        <input class="form-control" type="date" value="<%= tournament.enddate.toISOString().replace('T', ' ').substr(0, 10) %>" id="" name="enddate">
                    </div>
                </div>
                

                <div class="form-group">
                    <label for="participantTextField">Participants</label>
                    <textarea class="form-control" id="participants"
                    placeholder="Enter participants"
                    name="participants" 
                    required rows="8"><% for(let count = 0; count < tournament.participants.length; count++) { %><%= tournament.participants[count].participantname %>&#13;&#10;<% } %></textarea>
                </div>

                <div class="form-group text-center row">
                    <div class="col-4">
                        <td class="text-center col-1">
                            <a href="/tournament/brackets/<%= tournament._id %>" class="btn btn-danger btn-flexible">
                            Bracket</a>
                        </td>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-flexible" type="submit">
                            Save</button>
                    </div>
                    <div class="col-4">
                        <a href="/tournament" class="btn btn-warning btn-flexible">
                            Back to list</a>
                    </div>
                </div>


            </form>
        </div>

    </div>